In [1]:
import pandas as pd

true_news = pd.read_csv('True.csv')
fake_news = pd.read_csv('Fake.csv')

In [2]:
true_news.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [3]:
true_news['valid'] = 1
fake_news['valid'] = 0

In [4]:
true_news = true_news.drop(['subject', 'date'], axis=1)
fake_news = fake_news.drop(['subject', 'date'], axis=1)

In [5]:
news_data = pd.concat([true_news, fake_news], ignore_index=True)
news_data = news_data.sample(frac=1)

In [6]:
import re
def remove_punctuations(text):
    return re.sub(r"[^\w\s]", "", text)
news_data[['title', 'text']] = news_data[['title', 'text']].apply(lambda x: x.str.lower())
news_data[['title', 'text']] = news_data[['title', 'text']].applymap(remove_punctuations)
news_data.head()

,title,text,valid
30667,philadelphia committee passes bill forcing sto...,what s more important protecting the dignity o...,0
1673,trump choice for russia ambassador no question...,washington reuters former utah governor jon h...,1
28983,president obama just did something amazing to...,if you ve ever raised a child while living in ...,0
36287,famous rhode island dancing cop fired for prot...,welcome to the new america where there can b...,0
32608,stunning first lady melania trump wears red to...,president donald trump and first lady melania ...,0

In [12]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
def remove_stopwords(text):
    tokens = word_tokenize(text)
    print("Tokens:", tokens)  # Debugging: Print the tokens
    tokens_without_sw = [token for token in tokens if not token.lower() in stopwords.words('english')]
    return " ".join(tokens_without_sw)


text = "Nick likes to play football, however he is not too fond of tennis."
text = remove_stopwords(text)
print(text)
#news_data_sample = news_data.head(10)  # Process just the first 100 rows
#news_data_sample[['title', 'text']] = news_data_sample[['title', 'text']].applymap(remove_stopwords)
#news_data.head()

ModuleNotFoundError: No module named 'spacy'